<button *ngIf="!isShow" (click)="isShow = !isShow">Thêm từ mới</button>
<!-- Form để thêm 1 từ mới -->
<div *ngIf="isShow">
  <input placeholder="English" [(ngModel)]="en"><br />
  <input placeholder="Tiếng Việt" [(ngModel)]="vn"><br />
  <button (click)="addWord()">Thêm</button>
</div>

<!-- Ô hiện những tùy chọn hiển thị -->
<select [(ngModel)]="filterStatus">
  <option value="tat_ca">Tất cả</option>
  <option value="da_nho">Đã nhớ</option>
  <option value="chua_nho">Chưa nhớ</option>
</select>

<!-- Hiển thị danh sách các từ -->
<div *ngFor="let word of arWords">
  <div *ngIf="getShowStatus(word.memorized)" class="word">
    <div *ngIf="!word.onEdit; else elseBlock">
      <h4 [ngStyle]="{color: word.memorized? 'green': 'red'}">
        {{ word.en }}
      </h4>
      <p>{{ word.vn }}</p>
    </div>
    <ng-template #elseBlock>
      <input class="input" placeholder="English" [(ngModel)]="en"><br />
      <input class="input" placeholder="Tiếng Việt" [(ngModel)]="vn"><br />
      <input type="submit" value="Sửa" (click)="editWord(word.id)" />
    </ng-template>
    <button (click)="word.memorized = !word.memorized" *ngIf="!word.onEdit">
      {{ word.memorized? "Chưa thuộc": "Đã thuộc"}}
    </button>
    <button (click)="deleteWord(word.id)" *ngIf="!word.onEdit">Xóa</button>
    <button (click)="edit(word.id)" *ngIf="!word.onEdit">Sửa</button>
  </div>
</div>